* {
  margin: 0;
  padding: 0;
 
}

body {
  background-image:url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-438983.jpg');
  overflow:hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Window */
.window {
  border:solid 2px #000000;
  border-radius: 3px;
  background-color:white;
  border-radius: 2px;
  display:inline-block;
  position: absolute;
  /* top: 200px;
  left: 200px;
  z-index: 25;*/
  
}
.window-topbar {
  padding:2px;
  background-color:gray;
  
  height:20px;
}
.window-menu {
  padding:2px;
  background-color:lightgray;
  height:20px;
}

.window-content {
  padding:2px;
  overflow: auto;
  word-wrap:break-word;
}

.window-bottombar {
  padding:2px;
  height:15px;
  background-color:lightgray;
  -moz-user-select: none;
}


.window-resizebtn {
  background-image: url("../image/dragicon.png");
  height: 15px;
  width:15px;
  cursor: nw-resize;
  float:right;
}

.closebtn {
  float:right;
}

/* Taskbar */

#desk-taskbar {
  background-color:rgba(0, 0, 0, 0.7);
  color:white;
  position: absolute;
  left:0;
  right:0;
  margin:auto;
  bottom:0;
  z-index: 99999;
  width:20%;
  text-align:center;
}

#desk-taskbar ul {
  list-style-type: none;
}
#desk-taskbar ul li{
  padding:10px;
  display: inline-block;
}
#desk-taskbar ul li:hover{
  background-color:rgba(255, 255, 255, 0.3);
  padding: 10px;
  display: inline-block;
}

/* ChatApp */
